extends ./layout.jade

block content
    .row
        .large-12.columns.single
            table.history(role='grid', summary='Search History')
              thead
                tr
                  th Date
                  th Sequence
                  th Depth
                  th Pages Searched
              tbody
                if search
                    tr
                        td(data-sort="#{moment(search.created_at).format('DD/MM/YYYY')}") #{moment(search.created_at).format('MMMM Do, YYYY')}
                        td #{search.body.replace(/,+/g, ' > ').replace(/[ ]*\/wiki\/[ ]*|[ ]+/g,' ').replace(/_+/g, ' ')}
                        td #{search.depth}
                        td #{search.pages_searched}
                else
                    tr
                        td Your search history is automatically saved and shown here...
                script.
                    var search = !{JSON.stringify(search).replace(/<\//g, "<\\/")}
            .results
